# Key Bindings
# ============
#
# I like to use Ctrl key with a simple key or a sequence of such keys for the
# window operations.  Because most of other modifier keys are some distance away
# from the keyboard home position.
#
# Most of the key bindings are defined in custome binding modes in order to
# avoid key binding conflicts between i3 and other applications.
#
# There are some basic rules of key bindings:
#
# * A key binding prefixed with Ctrl key is used for switching the current
#   binding mode.
# * Others are used for the system operations, the window operations and
#   launching applications.
#
# The following key bindings which are defined in all custom binding modes:
#
# RET
#   Switch to the `default` binding mode
# C-RET
#   Switch to  the `i3` binding mode
#
# Most of the key bindings for the window operations keep the current binding
# mode in order to make it possible to perform multiple window operations with
# short typing as much as possible.

set $modkey Mod4

set $mode_i3  "i3: [q]uit | [l]uncher | workspace (1-8)"
set $mode_sys "i3 > System: [e]xit | [s]hutdown | re[b]oot | [r]eload"
set $mode_nav "i3 > Navigation"

# Use Super (Command key on macOS) to drag floating windows to their wanted position
floating_modifier $modkey

# The `default` Binding Mode
# --------------------------
#
# There are a few key bindings in the `default` binding mode for avoiding key
# binding conflicts between i3 and other applications.

bindsym Ctrl+Return mode $mode_i3

# Switch to the next workspace cyclically.
bindsym $modkey+Tab workspace next

# Switch to the previous workspace cyclically.
bindsym $modkey+Shift+Tab workspace prev

# Restarting i3 is bound to H-r for safety.  Because there are no ways to reload
# the configuration file if it becomes impossible to enter the `i3` binding mode
# for some reason.
bindsym $modkey+r restart

# switch to workspace
bindsym $modkey+1 workspace $ws1_terminal
bindsym $modkey+2 workspace $ws2_editor
bindsym $modkey+3 workspace $ws3_browser
bindsym $modkey+4 workspace 4
bindsym $modkey+5 workspace 5
bindsym $modkey+6 workspace 6
bindsym $modkey+7 workspace 7
bindsym $modkey+8 workspace 8

# The `i3` Binding Mode
# ---------------------
#
# The `i3` binding mode is a "portal" binding mode for other binding modes.  All
# of other binding modes are linked from and to the `i3` binding mode.
#
# It's better to defined frequently used key bindings in the `i3` binding mode
# unless any key binding conflict occurs.

mode --pango_markup $mode_i3 {
  bindsym q kill

  # split in horizontal orientation
  bindsym h split h

  # split in vertical orientation
  bindsym v split v

  # enter fullscreen mode for the focused container
  bindsym f fullscreen toggle

  # change container layout (stacked, tabbed, toggle split)
  bindsym s layout stacking
  bindsym t layout tabbed
  bindsym e layout toggle split

  # toggle tiling / floating
  bindsym space floating toggle

  # change focus between tiling / floating windows
  bindsym Ctrl+space focus mode_toggle

  # show a list of all windows
  bindsym w exec --no-startup-id rofi -show window -lines 7, mode "default"

  # show a launcher
  bindsym l exec --no-startup-id rofi -show run -lines 7, mode "default"

  bindsym Ctrl+s mode $mode_sys
  bindsym Ctrl+n mode $mode_nav

  bindsym Ctrl+Return mode $mode_i3
  bindsym Return mode "default"
}

# The `system` Binding Mode
# -------------------------
#
# The `system` binding mode is used for the system operations such as reboot.

mode --pango_markup $mode_sys {
  bindsym e exit
  bindsym s exec --no-startup-id systemctl poweroff
  bindsym b exec --no-startup-id systemctl reboot
  bindsym r exec --no-startup-id "$HOME/.config/i3/mkconfig; i3-msg restart"

  bindsym Ctrl+Return mode $mode_i3
  bindsym Return mode "default"
}

# The `navigation` Binding Mode
# -----------------------------
#
# The following keys can be used easily at my home position:
#
# j: up
# f: down
# e: left
# i: right
#
# q: close the focused window
# 1-8: workspace
#
# TODO: Is it better to move some of the below key bindings into the `i3`
#       binding mode?

mode --pango_markup $mode_nav {
  bindsym q kill

  # show a list of all windows
  bindsym w exec --no-startup-id rofi -show window -lines 7, mode "default"

  # show a list of windows in the current workspace
  bindsym l exec --no-startup-id rofi -show windowcd -lines 7, mode "default"

  bindsym p focus parent
  bindsym c focus child

  bindsym j focus up
  bindsym f focus down
  bindsym e focus left
  bindsym i focus right
  bindsym Up focus up
  bindsym Down focus down
  bindsym Left focus left
  bindsym Right focus right

  bindsym Shift+j resize shrink height 10 px or 10 ppt
  bindsym Shift+f resize grow height 10 px or 10 ppt
  bindsym Shift+e resize shrink width 10 px or 10 ppt
  bindsym Shift+i resize grow width 10 px or 10 ppt
  bindsym Shift+Up resize shrink height 10 px or 10 ppt
  bindsym Shift+Down resize grow height 10 px or 10 ppt
  bindsym Shift+Left resize shrink width 10 px or 10 ppt
  bindsym Shift+Right resize grow width 10 px or 10 ppt

  bindsym $modkey+j move up
  bindsym $modkey+f move down
  bindsym $modkey+e move left
  bindsym $modkey+i move right
  bindsym $modkey+Up move up
  bindsym $modkey+Down move down
  bindsym $modkey+Left move left
  bindsym $modkey+Right move right

  bindsym $modkey+1 move to workspace $ws1_terminal
  bindsym $modkey+2 move to workspace $ws2_editor
  bindsym $modkey+3 move to workspace $ws3_browser
  bindsym $modkey+4 move to workspace 4
  bindsym $modkey+5 move to workspace 5
  bindsym $modkey+6 move to workspace 6
  bindsym $modkey+7 move to workspace 7
  bindsym $modkey+8 move to workspace 8

  bindsym Ctl+Return mode $mode_i3
  bindsym Return mode "default"
}
