# Workspace Settings
# ==================

set $ws1_terminal "1: "
set $ws2_editor   "2: "
set $ws3_browser  "3: "

# Initial Workspace
exec --no-startup-id i3-msg workspace $ws1_terminal

# Application Assignments
assign [class="Emacs"] $ws2_editor
assign [class="Google-chrome"] $ws3_browser


# Look & Feel
# ===========

font pango:Noto Sans Regular 11, FontAwesome 11

# No window title, 5-pixel border with 5px wide.
for_window [class="^.*"] border pixel 5
