# Key Bindings
# ============
#
# I like to use Ctrl key with a simple key or a sequence of such keys for the
# window operations.  Because most of other modifier keys are some distance away
# from the keyboard home position.
#
# Most of the key bindings are defined in custome binding modes in order to
# avoid key binding conflicts between i3 and other applications.
#
# There are some basic rules of key bindings:
#
# * A key binding prefixed with Ctrl key is used for switching the current
#   binding mode.
# * Others are used for the system operations, the window operations and
#   launching applications.
#
# The following key bindings which are defined in all custom binding modes:
#
# RET
#   Switch to the `default` binding mode
# C-RET
#   Switch to  the `i3` binding mode
#
# Most of the key bindings for the window operations keep the current binding
# mode in order to make it possible to perform multiple window operations with
# short typing as much as possible.

set $mode_i3     "<b>i3</b>: <b>q</b>uit | <b>l</b>uncher | workspace (<b>1-0</b>)"
set $mode_system "i3 > <b>System</b>: <b>e</b>xit | <b>s</b>hutdown | re<b>b</b>oot | <b>r</b>eload"
set $mode_focus  "i3 > <b>Move Focus To</b>:  (q)   (p/Up)   (b/Left)   (n/Down)   (f/Right)"
set $mode_move   "i3 > <b>Move Window To</b>:  (q)   (p/Up)   (b/Left)   (n/Down)   (f/Right)   (1-0)"
set $mode_resize "i3 > <b>Resize Window</b>:  (p/Up)   (b/Left)   (n/Down)   (f/Right)"

# Use Super (Command key on macOS) to drag floating windows to their wanted position
floating_modifier Mod4

# The `default` Binding Mode
# --------------------------
#
# There are a few key bindings in the `default` binding mode for avoiding key
# binding conflicts between i3 and other applications.

bindsym Ctrl+Return mode $mode_i3

# Switch to the next workspace cyclically.
bindsym Mod4+Tab workspace next

# Switch to the previous workspace cyclically.
bindsym Mod4+Shift+Tab workspace prev

# Restarting i3 is bound to H-r for safety.  Because there are no ways to reload
# the configuration file if it becomes impossible to enter the `i3` binding mode
# for some reason.
bindsym Mod4+r restart

# The `i3` Binding Mode
# ---------------------
#
# The `i3` binding mode is a "portal" binding mode for other binding modes.  All
# of other binding modes are linked from and to the `i3` binding mode.
#
# It's better to defined frequently used key bindings in the `i3` binding mode
# unless any key binding conflict occurs.

mode --pango_markup $mode_i3 {
  bindsym q kill

  # split in horizontal orientation
  bindsym h split h

  # split in vertical orientation
  bindsym v split v

  # enter fullscreen mode for the focused container
  bindsym f fullscreen toggle

  # change container layout (stacked, tabbed, toggle split)
  bindsym s layout stacking
  bindsym t layout tabbed
  bindsym e layout toggle split

  # toggle tiling / floating
  bindsym space floating toggle

  # change focus between tiling / floating windows
  bindsym Ctrl+space focus mode_toggle

  # show a list of all windows
  bindsym w exec --no-startup-id rofi -show window -lines 7, mode "default"

  # show a launcher
  bindsym l exec --no-startup-id rofi -show run -lines 7, mode "default"

  # switch to workspace
  bindsym 1 workspace $ws1_terminal
  bindsym 2 workspace $ws2_editor
  bindsym 3 workspace $ws3_browser
  bindsym 4 workspace 4
  bindsym 5 workspace 5
  bindsym 6 workspace 6
  bindsym 7 workspace 7
  bindsym 8 workspace 8
  bindsym 9 workspace 9
  bindsym 0 workspace 10

  bindsym Ctrl+s mode $mode_system
  bindsym Ctrl+f mode $mode_focus
  bindsym Ctrl+m mode $mode_move
  bindsym Ctrl+r mode $mode_resize

  bindsym Ctrl+Return mode $mode_i3
  bindsym Return mode "default"
}

# The `system` Binding Mode
# -------------------------
#
# The `system` binding mode is used for the system operations such as reboot.

mode --pango_markup $mode_system {
  bindsym e exit
  bindsym s exec --no-startup-id systemctl poweroff
  bindsym b exec --no-startup-id systemctl reboot
  bindsym r exec --no-startup-id "$HOME/.config/i3/mkconfig; i3-msg restart"

  bindsym Ctrl+Return mode $mode_i3
  bindsym Return mode "default"
}

# The `focus` Binding Mode
# ------------------------
#
# I prefer to use p/b/n/f rather than w/a/s/d, j/h/k/l and k/j/l/;.
# You probably notice.  I'm an Emacs user.
#
# The following binding modes are linked each other for convenience.
#
# * The `focus` binding mode
# * The `move` binding mode
# * The `resize` binding mode
#
# TODO: Is it better to move some of the below key bindings into the `i3`
#       binding mode?

mode --pango_markup $mode_focus {
  bindsym q kill

  # show a list of all windows
  bindsym g exec --no-startup-id rofi -show window -lines 7, mode "default"

  # show a list of windows in the current workspace
  bindsym l exec --no-startup-id rofi -show windowcd -lines 7, mode "default"

  bindsym a focus parent
  bindsym d focus child

  bindsym p focus up
  bindsym b focus left
  bindsym n focus down
  bindsym f focus right

  bindsym Up focus up
  bindsym Left focus left
  bindsym Down focus down
  bindsym Right focus right

  bindsym Ctl+Return mode $mode_i3
  bindsym Ctrl+m mode $mode_move
  bindsym Ctrl+r mode $mode_resize
  bindsym Return mode "default"
}

# The `move` Binding Mode
# -----------------------

mode --pango_markup $mode_move {
  bindsym q kill

  bindsym p move up
  bindsym b move left
  bindsym n move down
  bindsym f move right

  bindsym Up move up
  bindsym Left move left
  bindsym Down move down
  bindsym Right move right

  bindsym 1 move to workspace $ws1_terminal
  bindsym 2 move to workspace $ws2_editor
  bindsym 3 move to workspace $ws3_browser
  bindsym 4 move to workspace 4
  bindsym 5 move to workspace 5
  bindsym 6 move to workspace 6
  bindsym 7 move to workspace 7
  bindsym 8 move to workspace 8
  bindsym 9 move to workspace 9
  bindsym 0 move to workspace 10

  bindsym Ctrl+Return mode $mode_i3
  bindsym Ctrl+f mode $mode_focus
  bindsym Ctrl+r mode $mode_resize
  bindsym Return mode "default"
}

# The `resize` Binding Mode
# -------------------------

mode --pango_markup $mode_resize {
  bindsym p resize shrink height 10 px or 10 ppt
  bindsym b resize shrink width 10 px or 10 ppt
  bindsym n resize grow height 10 px or 10 ppt
  bindsym f resize grow width 10 px or 10 ppt

  bindsym Up resize shrink height 10 px or 10 ppt
  bindsym Left resize shrink width 10 px or 10 ppt
  bindsym Down resize grow height 10 px or 10 ppt
  bindsym Right resize grow width 10 px or 10 ppt

  bindsym Ctrl+Return mode $mode_i3
  bindsym Ctrl+f mode $mode_focus
  bindsym Ctrl+m mode $mode_move
  bindsym Return mode "default"
}
